.tour-card{
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
    border: 1px solid lightcoral;
}

.title{
    font-size: 2.7rem;
    color: coral;
}

.tour-card-img img{
    width: 100%;
}

.tour-card-info{
    
    padding: 10px;
}

.tour-card-name{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.tour-card-dec{
    font-size: 1.1rem;
    text-align: justify;
    color: gray;
}

.tour-card-btn{
    cursor: pointer;
}


